body {
    margin-top: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  h1{
    text-align: center;
    margin-bottom: 50px;
    color:#007BFF ;
  }
  
  form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007BFF;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #result {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: #007BFF;
  }
  